doctype html
html
  head
    title= settings.appname
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type="text/javascript", src="/javascripts/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/javascripts/jquery-ui-1.10.4.custom.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/bootbox.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap3-typeahead.min.js")
  body
    div.container-fluid
        block content